.gradle/
build/
app/build/
app/libs/*.aar
app/libs/*-sources.jar
app/src/main/assets/ffmpeg/*/ffmpeg
app/src/main/assets/xray/*/xray
app/src/main/assets/xray/*/geoip.dat
app/src/main/assets/xray/*/geosite.dat
dist/
.external/
.tmp/
windows/**/bin/
windows/**/obj/
windows/**/tools/
local.properties
*.iml
.DS_Store
