.gradle/
build/
app/build/
app/libs/*.aar
app/libs/*-sources.jar
app/src/main/assets/ffmpeg/*/ffmpeg
dist/
.external/
.tmp/
windows/**/bin/
windows/**/obj/
windows/**/tools/
local.properties
*.iml
.DS_Store
